{% extends 'base.html' %}

{% load static %}

{% block title %}
Login Page
{% endblock %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y" style="min-height:84vh">

  <!-- ============================ COMPONENT LOGIN   ================================= -->
  <div class="card mx-auto" style="max-width: 380px; margin-top: 100px;">
    <div class="messages" style="text-align: center; display: flex; flex-direction: row;">
      {% for message in messages %}
          <h4 style="margin-right: 10px;">{{ message }}</h4>
      {% endfor %}
  </div>
    <div class="card-body">
      <h4 class="card-title mb-4">Sign in</h4>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" name="username">
        </div> <!-- form-group// -->
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div> <!-- form-group// -->
        <div class="form-group">
          <a href="{% url 'forgot_password' %}" class="float-right">Forgot password?</a>
        </div> <!-- form-group form-check .// -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </div> <!-- form-group// -->
      </form>
      <div class="messages" style="text-align: center; display: flex; flex-direction: row;">
        {% for message in message1 %}
        <h4 style="margin-right: 10px;">{{ message }}</h4>
        {% endfor %}
      </div>
    </div> <!-- card-body.// -->
  </div> <!-- card .// -->

  <p class="text-center mt-4">Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
  <br><br>
  <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
